article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* general styles */

html {
    font-size: 125%;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

.wrapperSmall {
    max-width: 1152px;/* 80% of large wrapper */
    width: 80%;
    margin: 0 auto;
}
body {
    letter-spacing: 0;
    color: rgb(31, 32, 34);
    background-color: rgb(244, 244, 244);
}

a {
	text-decoration: none;
	color: inherit;
}

p {
    font-family: 'Catamaran', sans-serif;
}

h1,
h2,
header nav,
footer nav,
button {
    font-family: 'Nova Flat', cursive;
    color: rgb(24, 102, 132);
    font-weight: 400;
}

li {
	list-style: none;
}

img {
	max-width: 100%;
}

/* end of general styles */

/* start of header styles */

header {
    /* Jenny said I could use the smallest size image in all cases */
    background:url(assets/headerBackground.jpg);
	background-size: cover;
	min-height: 100vh;
	background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.hamburger {
    color: rgb(24, 102, 132); 
    position: absolute;
    top: 0;
    right: 14%;
    visibility: hidden;
    font-size: 2rem;
}

h1 {
    font-size: 7.3rem;
    background:rgba(227,228,234,0.89);
    line-height: 120px;
    position: absolute;
    top: 55%;
    left: 40%;
    padding: 10px;
    margin: 0;
}

h1 span {
    display: block;
}

/* also styles footer menu */
.menu ul {
    margin: 0 auto;
    width: 40%;
    padding: 0;
}

.menu ul li {
    float: left;
    padding: 10px 20px; 
}

.menu ul li:hover {
    color: rgb(232, 91, 38);
}

.social {
    float: right;
    text-align: center;
    padding: 10px;
}

.social ul {
    padding: 200px 0;
}

.social ul li {
    font-size: 1.2rem;
}

.social a {
    color: rgb(232, 91, 38);
}

/* end of header styles */

/* beginning of main styles */

/* specialize and care styles  */

.specializeImage,
.careImage {
    display: none;
}

.specialize,
.care {
    background: white;
}

.fullBleed.specialize {
    background:url(assets/sneakerWall.jpg);
    background-repeat: no-repeat;
    background-position: top right;

}

.fullBleed.care {
    background:url(assets/handShoePink.jpg);
	background-repeat: no-repeat;
    background-position: 0 44%;

}

.specializeText,
.careText {
    width: 50%;
    background: white;
} 

.specializeText,
.careText {
    padding: 120px;
}

.careText {
    float: right;
}

.fullBleed a,
/* giving <a> tag also styled here */
.giving a {
    color: rgb(24, 102, 132); 
    font-family: 'Nova Flat', cursive; 
    text-transform: uppercase;
    border: 3px solid rgb(232, 91, 38);
    padding: 10px 15px;
    line-height: 29px;
}

.fullBleed a:hover,
.giving a:hover {
    color: rgb(232, 91, 38);
}

/* beginning of giving styles */
.giving {
    padding-top: 100px;
    padding-bottom: 100px;
}

.giveText h2 {
    font-size: 2rem;
    margin: 0;
}

.giveImage {
    width: 30%;
}

.giveText {
    width: 70%;
    padding-left: 40px;
}

.giveImage,
.giveText {
    float: left;
}

/* end of giving styles */

/* beginning of connect styles  */

.connect {
    background:url(assets/connectBackground.jpg);
	background-position: left-top;
	min-height: 100%;
	background-repeat: no-repeat;
    text-align: center;
}

.connectLinks {
    padding: 100px 0;
}

.connectLinks ul {
    width: 50%;
    margin: 0 auto;
    padding: 0;
}

.connectLinks li {
    float: left;
    padding: 30px;
    font-size: 1.1rem;
    background-color: #f4f4f4;
}

.connectLinks h3 {
    color: rgb(24, 102, 132);
    font-weight: 400;
}

.connectLinks i {
    color: rgb(232, 91, 38);
}

/* beginning of gram styles */

.gram {
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.gram h2 {
    padding: 45px 0;
    font-size: 2rem;
    margin: 0;
    font-weight: 400;
}

.sneakerGallery {
    padding-bottom: 100px;
    margin: 0 auto;
}

.gallery {
    width: calc((100%/3) - 20px);
    float: left;
    margin-right: 20px;
    padding: 0;
}


.gallery:nth-of-type(3) {
    margin: 0;
}

/* end of gram styles */

/* end of main styles */

/* start of footer styles */

/* footer menu styled partially in header */
.contactUpdateContainer {
    padding-bottom: 100px;
}
.contact,
.update {
    width: 50%;
    float: left;
}

h3 {
    font-family:'Nova Flat', cursive;
    color:rgb(232, 91, 38);
    margin: 0; 
}

.menu .footerMenu {
    padding: 100px 0 25px;
    color: rgb(31, 32, 34);
}

.contact ul {
    padding: 0;
    margin: 0;
}

.contact li {
    margin: 15px 0;
}

.phone {
    border-left: 2px solid rgb(31, 32, 34);
    padding-left: 5px; 
}

.update input,
.update button {
    float: left;
}

.update p {
    margin: 0;
}

.update input {
    padding: 10px 110px 10px 30px;
}

.update button {
    padding: 10px 20px;
    background-color: rgb(24, 102, 132);
    color: rgb(255, 255, 255);
    font-size: .9rem;
    border: 3px solid rgb(232, 91, 38);
    text-transform: uppercase; 
}

.update button:hover {
    color: rgb(232, 91, 38);
}

.copywrite {
    background: rgb(0,0,0);
    width: 100%;
    color: rgba(252, 252, 252, 0.5);
    text-align: center;
    padding: 10px;
}

.copywrite p {
    margin: 0;
}

/* end of footer styles */

/* start of responsive styles */
/* I asked Fatima and she said to use the text from the desktop display in the specialize, care and giving sections (it is different from the mobile to desktop version) */

@media (max-width: 1300px) {

    /* specialize and care */

    .specializeText,
    .careText {
        padding: 90px;
    }

    /* footer  */

    .update input {
        text-align: center;
        padding: 10px 70px;
    }

    .update button {
        padding: 12px 123px;
        margin-top: 4px;
    }

}

@media (max-width: 1230px) {
    
    /* header */
    
    h1 {
        font-size: 6.3rem;
        padding: 7px;
        left: 55%;
    }

    .social ul {
        padding: 0 15px 0 0;
    }

}

@media (max-width: 1108px) {
    .fullBleed.care {
        background-position: -77% 44%; 
    }
}


@media (max-width: 1100px) {
    
    /* Header */
    
    h1 {
        font-size: 5.3rem;
        left: 41%;
    }
    
    /* connect */

    .connectLinks {
        padding: 50px 0;
    }

    .connectLinks li {
        float: none; 
        width: 50%;
        margin: 0 auto;
    }

    /* footer */

    .contactUpdateContainer {
        padding: 0 0 100px 0;
    }

    .contactUpdateContainer h3 {
        margin-bottom: 15px;
    }

    .contact {
        text-align: center;
    }

    .contact li {
        margin: 20px 0;
    }

    .update input {
        margin-bottom: 5px;
    }
}

@media (max-width: 1008px) {
    
    /* header */
    
    .hamburger {
        visibility: visible;
    }

    header .menu,
    .social {
        display: none;
    }

    h1 {
        left: 35%;
    }

    header {
        background-position: 20%;
    }

    /* specialize and care */

    .specializeText,
    .careText {
        padding: 55px
    }

    .fullBleed.specialize h2,
    .fullBleed.care h2 {
        margin-top: 0; 
    }

    .fullBleed.care {
        background-position: -175% 44%;

    }

    /* Giving */

    .giving {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    }

    .giveText h2 {
        padding-top: 50px;
    }

    .giveImage {
        width: 100%;
    }

    .giveText {
        width: 100%;
        padding-left: 0px;
    }

    .giveImage,
    .giveText {
        float: none;
    }

}

@media (max-width: 1060px) {

    /* specialize and care */
    
    .specializeText,
    .careText {
        padding: 70px;
    }

    .fullBleed.care {
        background-position: -155px 39%; 
    }
}


@media (max-width: 880px) {

    /* specialize and care*/
    .fullBleed {
        height: auto;
    }

    .fullBleed.specialize,
    .fullBleed.care {
        background-image: none;
        height: auto;
    }

    .specializeText,
    .careText {
        width: 100%;
        padding: 45px 50px;
        text-align: center;
        height: auto;
    }

    .specializeImage,
    .careImage
     {
        display: inline-block;
        height: 100%;
        width: 100%;
    }

    .specializeImage img,
    .careImage img {
        width: 100%;
    }
     
    .careImage {
        border-image-repeat: none;
    }


    /* footer */

    .contact,
    .update {
        float: none;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .contact {
        margin-bottom: 100px;
    }

    .update input {
        padding: 10px 90px;
        float: none;
    }

    .update button {
        padding: 10px 143px;
        float: none;
    }

    .menu .footerMenu {
        padding: 90px 0; 
    }

    footer .menu ul {
        width: 60%;
        text-align: center;
    }
}

@media (max-width: 640px) {
    
    /* header */
    
    header {
        background-position: 33%; 
    }

    h1 {
        font-size: 5.6rem;
        left: 15%;
        padding-right: 20px;
    }

    /* connect */

    .connectLinks li { 
        width: 100%;
    }

    /* the gram */

    .sneakerGallery {
        padding-bottom: 50px;
    }

    .gallery:nth-of-type(3) {
        display: none;

    }

    .gallery {
        width: calc(50% - 20px)
    }

}

@media (max-width: 540px) {
   
    /* header */
   
    h1 {
        font-size: 4.3rem;
        line-height: 90px;
        left: 20%;
    }

    /* footer */

    .menu .footerMenu {
        width: 90%;
    }
}

@media (max-width: 440px) {
    
    /* header */
    
    header {
        background-position: 32%; 
    }

    h1 {
        font-size: 4.3rem;
        left: 15%;
    }


    /* footer */

    .contact li,
    .update p {
        font-size: 0.9rem;
    }

    .update input {
        padding: 6px 60px;
    }

    .update button {
        padding: 8px 114px;
    }

    .menu .footerMenu {
        padding: 45px 0;
        font-size: 0.8rem;
    }

}

@media (max-width: 405px) {
    
    /* header */
    
    h1 {
        font-size: 3.7rem;
    }

    /* connect  */

    .connectLinks li {
        width: 120%;
    }

    /* footer */

    .menu .footerMenu li {
        padding: 10px 10px;
    }

    .contact {
        margin-bottom: 50px;
    }

    .contactUpdateContainer {
        padding: 0 0 50px 0;
    }

    .update p {
        margin: 0 0 10px 0;
    }

    .update input {
        padding: 10px 36px;
    }

    .update button {
        padding: 6px 88px;
    }
}

@media (max-width: 360px) {
    
    /* header */
    
    h1 {
        font-size:3.1rem;
    }

    .hamburger {
        font-size: 1rem;

    }

    /* footer */

    .menu .footerMenu li {
        padding: 10px 10px;
        font-size: 0.8rem; 
    }
    footer h3 {
        font-size: 1rem;

    }

     .contact li {
        font-size: 0.7rem;
    }

     .update p {
        font-size: 0.7rem;
        margin: 0 0 10px 0;
    }

}
